<!DOCTYPE HTML>
<html>
	<head>
		<title>HTN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"></link>
	</head>
	<body class="homepage">
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a href="index.html" id="logo">TALENT</a></h1>
							<p> SCALE </p>
						</div>
					</div>
				</header>

			<!-- Banner -->
				<div id="banner-wrapper">
					<section id="banner">
						<h2>Welcome to TALENT SCALE</h2>
						<p>A WEB APP TO HELP INTERVIEWERS FIND IDEAL CANDIDATES</p>
						<a href="#main" class="button">Wanna know more?</a>
					</section>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row 200%">
							<div class="12u">
								<!-- Highlight -->
									<!-- <section class="box highlight">
										<ul class="special">
											<li><a href="#" class="icon fa-search"><span class="label">Magnifier</span></a></li>
											<li><a href="#" class="icon fa-tablet"><span class="label">Tablet</span></a></li>
											<li><a href="#" class="icon fa-flask"><span class="label">Flask</span></a></li>
											<li><a href="#" class="icon fa-cog"><span class="label">Cog?</span></a></li>
										</ul>
										<header>
											<h2>A random assortment of icons in circles</h2>
											<p>And some text that attempts to explain their significance</p>
										</header>
										<p>
											Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget 
										</p>
									</section> -->

									<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Features</span></h2>
										<div>
											<div class="row">
												<div class="3u 12u(mobile)">
													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="icon fa-group fa-5x"></a>
															<h3><a href="#">Collaboration</a></h3>
															<p>
																Interviewers and Interviewees share the same screen
															</p>
														</section>
												</div>
												<div class="3u 12u(mobile)">
													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="icon fa-video-camera fa-5x"></a>
															<h3><a href="#">Real-time Video</a></h3>
															<p>
																blah
															</p>
														</section>

												</div>
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="icon fa-sticky-note fa-5x"></a>
															<h3><a href="#">Keep Track of Interviewee's Behaviours</a></h3>
															<p>
																blah
															</p>
														</section>

												</div>
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="icon fa-area-chart fa-5x"></a>
															<h3><a href="#">Intelligent Analysis</a></h3>
															<p>
																Use Machine Learning Algorithms to analyze candidates' personalities via video and audio
															</p>
														</section>

												</div>
											</div>
											
										</div>
									</section>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer" class="container">
					<div class="row 200%">
						<div class="12u">

							<!-- About -->
								<section>
									<h2 class="major"><span>Wanna Find Ideal Employees Use the Least effort?</span></h2>
									<div class="row">
												<div class="12u">
													<ul class="actions">
														<li><a href="#" class="button big">Sign Up Today!</a></li>
														
													</ul>
												</div>
											</div>
								</section>

						</div>
					</div>
					<div class="row 200%">
						<div class="12u">
							<!-- Contact -->
								<section>
									<h2 class="major"><span>Get in touch</span></h2>
									<ul class="contact">
										<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
										<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
									</ul>
								</section>
						</div>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>