<div class="container-fluid">
    <div class="row">
        <div id="camera" class="col-md-4">
            <h1>Camera</h1>
            <button id="setup-new-room">Setup New Conference</button>
            <div id="videos-container"></div>
        </div>
        <div class="col-md-4">
            <h1>Text editor</h1>
            <div id="firepad-container"></div>
        </div>
        <div id="info" class="col-md-4">
            <h1>Info</h1>
            <p id="current_question">Current question: Implement a Linked-List in the language of your choice.</p>
        </div>
    </div>
</div>


  <div id="firepad-container"></div>

  <script>
    function init() {
      //// Initialize Firebase.
      var firepadRef = new Firebase('https://htn2015.firebaseio.com/');
      //// Create ACE
      var editor = ace.edit("firepad-container");
      editor.setTheme("ace/theme/textmate");
      var session = editor.getSession();
      session.setUseWrapMode(true);
      session.setUseWorker(false);
      session.setMode("ace/mode/javascript");
      //// Create Firepad.
      var firepad = Firepad.fromACE(firepadRef, editor, {
        defaultText: '// JavaScript Editing with Firepad!\nfunction go() {\n  var message = "Hello, world.";\n  console.log(message);\n}'
      });
    }

    window.onload = init;
  </script>