/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  /*padding-top: 50px;*/
  position: relative;
}

/***********   ************/
audio {
    vertical-align: bottom;
    width: 10em;
}
video {
    max-width: 100%;
    vertical-align: top;
}
input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 2em;
    margin: .2em;
    width: 30%;
}

p,
.inner {
    padding: 1em;
}

/*li {*/
/*    border-bottom: 1px solid rgb(189, 189, 189);*/
/*    border-left: 1px solid rgb(189, 189, 189);*/
/*    padding: .5em;*/
/*}*/

label {
    display: inline-block;
    width: 8em;
}

/***********   ************/
.recordrtc button {
    font-size: inherit;
}

.recordrtc button, .recordrtc select {
    vertical-align: middle;
    line-height: 1;
    padding: 2px 5px;
    height: auto;
    font-size: inherit;
    margin: 0;
}

.recordrtc, .recordrtc .header {
    display: block;
    text-align: center;
    padding-top: 0;
}

.recordrtc video {
    width: 70%;
}

.recordrtc option[disabled] {
    display: none;
}

/*********** interview  ************/

.btn {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    margin: 0px 10px 0px 0px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
  }
.center {
  padding: 10px;
  text-align: center;
}
.final {
  color: black;
  padding-right: 3px; 
}
.interim {
  color: gray;
}
.info {
  font-size: 14px;
  text-align: center;
  color: #777;
  display: none;
}
.right {
  float: right;
}

#info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
}

#results {
font-size: 14px;
font-weight: bold;
border: 1px solid #ddd;
padding: 15px;
text-align: left;
min-height: 150px;
}
#start_button {
border: 0;
background-color:transparent;
padding: 0;
} 

#videos-container {
    position: relative;
    min-height: 400px;
}

#videos-container #my-video {
    position: absolute;
    width: 100px;
    border: 2px solid white;
    bottom: 20px;
    right: 50px;
}

#canvas {
  display:none;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.field {
    width: 50%;
    margin: auto;
}

#email-field {
    padding-bottom: 40px;
}

.actions {
    width: 40%;
    margin-left: 60%;
}

body > a {
    margin-left: 25%;
}