/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  /*padding-top: 50px;*/
  position: relative;
}

/***********   ************/
audio {
    vertical-align: bottom;
    width: 10em;
}
video {
    max-width: 100%;
    vertical-align: top;
}
input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 2em;
    margin: .2em;
    width: 30%;
}
p,
.inner {
    padding: 1em;
}
li {
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    padding: .5em;
}
label {
    display: inline-block;
    width: 8em;
}

/***********   ************/
.recordrtc button {
    font-size: inherit;
}

.recordrtc button, .recordrtc select {
    vertical-align: middle;
    line-height: 1;
    padding: 2px 5px;
    height: auto;
    font-size: inherit;
    margin: 0;
}

.recordrtc, .recordrtc .header {
    display: block;
    text-align: center;
    padding-top: 0;
}

.recordrtc video {
    width: 70%;
}

.recordrtc option[disabled] {
    display: none;
}