// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#firepad-container {
  width: 100%;
  height: 700px;
}
#current_question{
    color: green;
}